<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<p>Authorization</p>
<br>
<p>Authorization</p>

<form th:method="patch" th:action="@{/shop/login}" th:object="${loginObj}">
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login">
    <br/>
    <label for="password">Enter [password]: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Save"/>
</form>

<br>
<a th:href="@{/shop}" th:text="Board">Board</a>

</body>
</html>